<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="_conn"
			 connectionString="Data Source=SQLCLA;Initial Catalog=Searches;Integrated Security=true;;Encrypt=True;TrustServerCertificate=True;" />
	</connectionStrings>

	<appSettings>
		<add key="Email" value="appres@ucdasearches.com" />
		<add key="SmtpFrom" value="LNAB@UCDA.org" />
		<add key="SmtpHost" value="mail" />
		<add key="SmtpUser" value="" />
		<add key="SmtpPassword" value="" />
		<!-- Please replace the placeholder values below with the actual credentials -->
		<add key="Username" value="UCDAON" />
		<add key="Password" value="K1llB1ll" />
	</appSettings>
</configuration>
